<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <h1>Countdown to 50/50</h1>
    </div> 
    <div class="main">
        <div class="img-container">
            <img src="https://cdn.britannica.com/94/256194-050-DD861124/Shohei-Ohtani-Los-Angeles-Dodgers.jpg" alt="Shohei-Ohtani-Los-Angeles-Dodgers">
        </div>

        <%players.forEach(player =>{ %>
            <div class="stats-container">
                <div class="col">Name: <%-player.name%></div>
                <div class="col">AVG: <%- player.avg%></div>
                <div class="col">RBI: <%-player.rbi%></div>
                <div class="col">HR: <%- player.homeruns%></div>
                <div class="col">SB: <%- player.stolenbases%></div>
            </div>
        <%})%>
     
    </div>

</body>

</html>